{
	"database": {
		"driver": 	"mysql",
		"hostname": 	"localhost",
		"username": 	"root",
		"password": 	"",
		"database": 	"redonate"
	},
	"locale": {
		"path": 		"locales",
		"extension":		"lng",
		"default_locale": 	"english",
		"default_timezone": 	"Europe/Amsterdam"
	},
	"memcache": {
		"enabled": 	true,
		"compressed": 	true,
		"hostname": 	"localhost",
		"port": 	11211
	},
	"class_map": {
		"user": "User",
		"campaign": "Campaign",
		"subscription": "Subscription",
		"paymentrequest": "PaymentRequest",
		"exchangerate": "ExchangeRate",
		"changerequest": "ChangeRequest",
		"paymentmethod": "PaymentMethod",
		"logentry": "LogEntry",
		"statisticsentry": "StatisticsEntry"
	},
	"components": [
		"router",
		"errorhandler"
	],
	"openexchangerates": {
		"app_id": ""
	},
	"smtp": {
		"from": "admin@redonate.net",
		"host": "localhost",
		"port": 25,
		"username": "root",
		"password": ""
	},
	"debugmode": false,
	"salt": "abcdef"
}
